# deps
node_modules/
.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# build
.next/
out/
build/
dist/

# misc
.DS_Store
*.pem
*.log
.npm-cache/
/tmp/

# env
.env*
!.env.example

# typescript
*.tsbuildinfo
next-env.d.ts

# editors
.vscode/
.idea/
